version: '3.8'

services:
  aureonone:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_APP_URL: ${NEXT_PUBLIC_APP_URL}
        NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: ${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}
    container_name: aureonone
    restart: always
    ports:
      - "3000:3000"
    env_file: .env
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
